<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/change" method="post"> {% csrf_token %}
            <label>Full Name:</label><p> </p><input type="text" name="fullname"><br><br>
            <label>Email:</label><p> </p><input type="text" name="email"><br><br>
            <input type="submit" name="create" value="Create"><br><br>
    
        </form>
</body>
</html>